In [1]:
import setup_django
setup_django.init()

In [2]:
from movies.models import Movie
qs = Movie.objects.all().values('title', 'release_date', 'rating_avg', 'rating_count')
qs

<MovieQuerySet [{'title': 'Ariel', 'release_date': datetime.date(1988, 10, 21), 'rating_avg': Decimal('3.00'), 'rating_count': 2}, {'title': 'Shadows in Paradise', 'release_date': datetime.date(1986, 10, 16), 'rating_avg': Decimal('3.00'), 'rating_count': 1}, {'title': 'Four Rooms', 'release_date': datetime.date(1995, 12, 9), 'rating_avg': Decimal('3.50'), 'rating_count': 2}, {'title': 'Judgment Night', 'release_date': datetime.date(1993, 10, 15), 'rating_avg': Decimal('2.00'), 'rating_count': 1}, {'title': 'Star Wars', 'release_date': datetime.date(1977, 5, 25), 'rating_avg': Decimal('4.50'), 'rating_count': 2}, {'title': 'Finding Nemo', 'release_date': datetime.date(2003, 5, 30), 'rating_avg': Decimal('3.00'), 'rating_count': 2}, {'title': 'Forrest Gump', 'release_date': datetime.date(1994, 7, 6), 'rating_avg': Decimal('3.50'), 'rating_count': 2}, {'title': 'American Beauty', 'release_date': datetime.date(1999, 9, 15), 'rating_avg': Decimal('1.00'), 'rating_count': 1}, {'title': 'Citizen Kane', 'release_date': datetime.date(1941, 4, 30), 'rating_avg': Decimal('5.00'), 'rating_count': 1}, {'title': 'Dancer in the Dark', 'release_date': datetime.date(2000, 5, 17), 'rating_avg': None, 'rating_count': 0}, {'title': 'The Dark', 'release_date': datetime.date(2006, 1, 26), 'rating_avg': Decimal('3.33'), 'rating_count': 3}, {'title': 'The Fifth Element', 'release_date': datetime.date(1997, 5, 7), 'rating_avg': Decimal('3.00'), 'rating_count': 2}, {'title': 'Metropolis', 'release_date': datetime.date(1927, 1, 10), 'rating_avg': Decimal('2.33'), 'rating_count': 3}, {'title': 'My Life Without Me', 'release_date': datetime.date(2003, 3, 7), 'rating_avg': Decimal('5.00'), 'rating_count': 1}, {'title': 'The Endless Summer', 'release_date': datetime.date(1966, 6, 15), 'rating_avg': Decimal('4.00'), 'rating_count': 2}, {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl', 'release_date': datetime.date(2003, 7, 9), 'rating_avg': None, 'rating_count': 0}, {'title': 'Kill Bill: Vol. 1', 'release_date': datetime.date(2003, 10, 10), 'rating_avg': Decimal('4.75'), 'rating_count': 4}, {'title': 'Jarhead', 'release_date': datetime.date(2005, 11, 4), 'rating_avg': Decimal('4.50'), 'rating_count': 2}, {'title': 'Walk on Water', 'release_date': datetime.date(2004, 2, 5), 'rating_avg': Decimal('2.33'), 'rating_count': 3}, {'title': '9 Songs', 'release_date': datetime.date(2004, 7, 16), 'rating_avg': Decimal('3.00'), 'rating_count': 2}, '...(remaining elements truncated)...']>

In [3]:
import pandas as pd

In [5]:
df = pd.DataFrame(qs)
df.head(n=10)

                 title release_date rating_avg  rating_count
0                Ariel   1988-10-21       3.00             2
1  Shadows in Paradise   1986-10-16       3.00             1
2           Four Rooms   1995-12-09       3.50             2
3       Judgment Night   1993-10-15       2.00             1
4            Star Wars   1977-05-25       4.50             2
5         Finding Nemo   2003-05-30       3.00             2
6         Forrest Gump   1994-07-06       3.50             2
7      American Beauty   1999-09-15       1.00             1
8         Citizen Kane   1941-04-30       5.00             1
9   Dancer in the Dark   2000-05-17       None             0

In [6]:
qs.first()

{'title': 'Ariel',
 'release_date': datetime.date(1988, 10, 21),
 'rating_avg': Decimal('3.00'),
 'rating_count': 2}

In [ ]:
df.to_csv()